@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


html {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 21%, rgba(49, 0, 135, 1) 24%, rgba(9, 15, 47, 1) 43%, rgba(9, 15, 47, 1) 78%);
}

body {
    margin: 0;
}

li:nth-of-type(1) {
    --index: 1;
}

li:nth-of-type(2) {
    --index: 2;
}

li:nth-of-type(3) {
    --index: 3;
}

li:nth-of-type(4) {
    --index: 4;
}

li:nth-of-type(5) {
    --index: 5;
}

li:nth-of-type(6) {
    --index: 6;
}

li:nth-of-type(7) {
    --index: 7;
}

li:nth-of-type(8) {
    --index: 8;
}

* {
    --hoekVar: calc(360deg / 8);
    --rotate: rotate(calc(var(--hoekVar) * var(--index)));
    --rainbow: calc(var(--rainbow) + 100% / 7);
    --red: rgb(255, 0, 0);
    --yellow: rgb(255, 238, 0);
    --pink: rgb(255, 0, 212);
    --blauw: rgb(0, 119, 255);
    --green: rgb(0, 255, 13);
    --turquoise: rgb(0, 255, 234);
    --purple: rgb(195, 0, 255);
    --orange: rgb(255, 153, 0);

}

/* make main full height */
main {
    height: 100vh;
}


/* positioning uls relative */
main>ul {
    position: relative;

    /* give ul width and height*/
    width: 10px;
    height: 10px;
}

/* position lis in circle*/
input[type="checkbox"]:checked~main ul li {

    position: absolute;
    width: 2px;
    height: 20px;
    transform-origin: center top;
    transform: var(--rotate) scaley(0);
    animation: fireworkAnimation 1s cubic-bezier(0.73, 0.1, 0.24, 1.22);
    opacity: 0;
}

/* position labels */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

/* button styling*/
label {
    margin-right: 5%;
    font-family: 'Quicksand', sans-serif;
    background-color: #ccc;
    padding: 10px;
    cursor: pointer;
    margin-top: 1.5%;
}

/* box shadow on water */
label:hover {
    box-shadow: 0px 500px 100px 9px #ffffff4f;
}

/* rainbow button animation and styling */
label:nth-of-type(1):hover {
    background: linear-gradient(90deg,
            var(--red) calc(100% / 7),
            var(--orange) calc(100% / 7 * 2),
            var(--yellow) calc(100% / 7 * 3),
            var(--green) calc(100% / 7 * 4),
            var(--blauw) calc(100% / 7 * 5),
            var(--purple) calc(100% / 7 * 6),
            var(--red) calc(100% / 7 * 7));
    background-position: 0%;
    background-size: 200%;
    animation: buttonAnimation 4s linear infinite;
}

/* color change other buttons */

label:nth-of-type(2):hover {
    background-color: var(--turquoise);
}

label:nth-of-type(3):hover {
    background-color: var(--purple);
}

label:nth-of-type(4):hover {
    background-color: var(--orange);

}


/* remove list style*/
ul li {
    list-style-type: none;
}

/* get inputs out of view */
input {
    left: -1000em;
    position: absolute;
}


/*position ul on page*/
input[type="checkbox"]:checked~main section~ul:first-of-type {

    top: 15%;
    left: 30%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(2) {
    top: 50%;
    left: 70%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(3) {
    top: 5%;
    left: 40%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(4) {
    top: 30%;
    left: 80%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(5) {
    top: 40%;
    left: 40%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(6) {
    top: 34%;
    left: 70%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(7) {
    top: 10%;
    left: 70%;
}

input[type="checkbox"]:checked~main section~ul:nth-of-type(8) {
    top: 22%;
    left: 30%;
}

/* give colors and animation delays to li's*/
input[type="checkbox"]:checked~main ul:first-of-type li {
    background-color: var(--red);
    box-shadow: 0 0 0 0 var(--red);
    animation-delay: 2.5s;

}

input[type="checkbox"]:checked~main ul:nth-of-type(2) li {
    background-color: var(--yellow);
    animation-delay: 3s;
}

input[type="checkbox"]:checked~main ul:nth-of-type(3) li {
    background-color: var(--pink);
    animation-delay: 3.5s;
}

input[type="checkbox"]:checked~main ul:nth-of-type(4) li {
    background-color: var(--blauw);
    animation-delay: 4s;
}

input[type="checkbox"]:checked~main>ul:nth-of-type(5) li {
    top: 80%;
    left: 60%;
    background-color: var(--green);
    animation-delay: 4.5s;
}

input[type="checkbox"]:checked~main>ul:nth-of-type(6) li {
    top: 80%;
    left: 60%;
    background-color: var(--pink);
    animation-delay: 5s;
}

input[type="checkbox"]:checked~main>ul:nth-of-type(7) li {
    top: 80%;
    left: 60%;
    background-color: var(--purple);
    animation-delay: 5.5s;
}

input[type="checkbox"]:checked~main>ul:nth-of-type(8) li {
    top: 80%;
    left: 60%;
    background-color: var(--green);
    animation-delay: 6s;
}

/* color change with checkboxes */

input:nth-child(2)[type="checkbox"]:checked~main ul li {
    --red: aqua;
    --yellow: aqua;
    --pink: aqua;
    --blauw: aqua;
    --green: aqua;
    --purple: aqua;
}

input:nth-child(3)[type="checkbox"]:checked~main ul li {
    --red: blueviolet;
    --yellow: blueviolet;
    --pink: blueviolet;
    --blauw: blueviolet;
    --green: blueviolet;

}


input:nth-child(4)[type="checkbox"]:checked~main ul li {
    --red: orange;
    --yellow: orange;
    --pink: orange;
    --blauw: orange;
    --green: orange;
    --purple: orange;

}

/* moon styling */
section:nth-of-type(2) ul {
    height: 80px;
    width: 42px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgba(255, 249, 218, 0.8);
    animation: moon 2s infinite alternate;
    box-shadow: 0px 220px 45px -20px rgba(91, 91, 236, 0.82);
    margin: -10%;

}


/* styling stars */
div {
    position: absolute;
    height: 3px;
    width: 3px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(236, 244, 255);
    box-shadow: 0px 0px 5px 1px rgb(236, 244, 255, 0.52);


}

/* stars positioning */
div:first-of-type {
    top: 40%;
    left: 40%;
}

div:nth-of-type(2) {
    top: 30%;
    left: 10%;
}

div:nth-of-type(3) {
    top: 60%;
    left: 80%;
}

div:nth-of-type(4) {
    top: 25%;
    left: 65%;
}

div:nth-of-type(5) {
    top: 15%;
    left: 85%;

}

div:nth-of-type(6) {
    top: 65%;
    left: 85%;

}

div:nth-of-type(7) {
    top: 37%;
    left: 45%;

}

div:nth-of-type(8) {
    top: 40%;
    left: 47%;

}

div:nth-of-type(9) {
    top: 12%;
    left: 90%;

}

div:nth-of-type(10) {
    top: 50%;
    left: 24%;

}

div:nth-of-type(11) {
    top: 67%;
    left: 28%;

}


div:nth-of-type(12) {
    top: 15%;
    left: 20%;

}

div:nth-of-type(13) {
    top: 70%;
    left: 10%;

}

div:nth-of-type(14) {
    top: 70%;
    left: 10%;

}

div:nth-of-type(15) {
    top: 70%;
    left: 10%;

}

div:nth-of-type(16) {
    top: 70%;
    left: 10%;

}

div:nth-of-type(15) {
    animation: stars 0.5s;
    animation-delay: 6s;

}

/* stars animation */
div:nth-of-type(3n) {
    animation: stars 0.5s;
    animation-delay: 5s;
    transform-origin: center center;

}

div:nth-of-type(5n+1) {
    animation: stars 0.5s;
    animation-delay: 10s;
    transform-origin: center center;

}

div:nth-of-type(-n+4) {
    animation: stars 0.5s;
    animation-delay: 10s;
    transform-origin: center center;
}

/* firwork animation */
@keyframes fireworkAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 5em 1em rgba(255, 249, 218, 0.8);
        transform: var(--rotate) scaleY(2) rotate(360deg) translateY(150%);
        opacity: 0;
    }
}


/* moon move animation */
@keyframes moon {

    0% {
        margin-top: 0;
    }

    100% {
        margin-top: 0.5%;
    }

}

/* stars animation */
@keyframes stars {

    0% {
        height: 3px;
        width: 3px;
    }

    90% {
        height: 6px;
        width: 6px;
    }

    100% {
        height: 3px;
        width: 3px;
    }

}

/* rainbow button animation*/
@keyframes buttonAnimation {

    0% {

        background-position: 0%;
    }

    100% {


        background-position: 400%;
    }

}

/* make firwork responsive */
@media only screen and (max-width: 600px) {

    input[type="checkbox"]:checked~main ul li>ul li {
        width: 1px;
        height: 3px;
        transform: var(--rotate) scaleY(0.5) rotate(360deg) translateY(100%);

    }

    label {
        padding: 5px;
        margin-top: 10px;
        font-size: 80%;
    }
}